<%- include("partials/header"); -%>
<style>
    td
    {
        padding:1%;
    }
</style>
</head>
<body>
    <h1 id="heading" style="color: white;"><%= heading %> </h1>
    <div>
        <table style="width:100%">
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/History_of_Kerala"><img src="/history.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">History</p></a></td>
                <td><a href="https://www.mapsofindia.com/maps/kerala/"><img src="/gujMap.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Map</p></a></td>
                <td><a herf="https://www.keralatourism.org/destination/places-of-interest/"><img src="/tourist.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Places Of Interest</p></a></td>
                <td><a href="https://www.visittnt.com/kerala-tours/art-crafts-kerala.html"><img src="/art.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Art & Craft</p></a></td>
            </tr>
            <tr>
                <td><a href="https://www.holiday-weather.com/kerala/averages"><img src="/weather.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Weather</p></a></td>
                <td><a href="http://keralaagriculture.gov.in/"><img src="/agriculture.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Aggriculture</p></a></td>
                <td><a href="https://en.wikipedia.org/wiki/Wildlife_of_Kerala"><img src="/wildlife.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Wild Life</p></a></td>
                <td><a href="https://en.wikipedia.org/wiki/Cuisine_of_Kerala"><img src="/food.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Food</p></a></td>    
            </tr>
            </table>
    </div>
<%- include("partials/footer"); -%>