<%- include("partials/header"); -%>
<style>
    td
    {
        padding:1%;
    }
</style>
</head>
<body>
    <h1 id="heading" style="color: white;"><%= heading %> </h1>
    <div>
        <table style="width:100%">
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/History_of_Maharashtra"><img src="/history.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">History</p></a></td>
                <td><a href="https://www.mapsofindia.com/maps/maharashtra/"><img src="/gujMap.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Map</p></a></td>
                <td><a herf="https://en.wikipedia.org/wiki/Tourism_in_Maharashtra#:~:text=There%20are%20other%20famous%20places%20of%20interest%20like,country%20Aurangabad%20is%20the%20tourism%20capital%20of%20Maharashtra."><img src="/tourist.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Places Of Interest</p></a></td>
                <td><a href="https://www.maharashtratourism.net/art-craft/index.html"><img src="/art.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Art & Craft</p></a></td>
            </tr>
            <tr>
                <td><a href="https://www.maharashtratourism.net/climate.html"><img src="/weather.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Weather</p></a></td>
                <td><a href="http://agricoop.nic.in/agriculturecontingency/maharashtra"><img src="/agriculture.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Aggriculture</p></a></td>
                <td><a href="https://www.maharashtratourism.net/sanctuaries/"><img src="/wildlife.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Wild Life</p></a></td>
                <td><a href="https://en.wikipedia.org/wiki/Maharashtrian_cuisine"><img src="/food.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Food</p></a></td>    
            </tr>
            </table>
    </div>
<%- include("partials/footer"); -%>