<%- include("partials/header"); -%>
<style>
    td
    {
        padding:1%;
    }
</style>
</head>
<body>
    <h1 id="heading" style="color: white;"><%= heading %> </h1>
    <div>
        <table style="width:100%">
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/History_of_Tamil_Nadu"><img src="/history.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">History</p></a></td>
                <td><a href="https://www.mapsofindia.com/maps/tamilnadu/"><img src="/gujMap.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Map</p></a></td>
                <td><a herf="https://en.wikipedia.org/wiki/Tourism_in_Tamil_Nadu"><img src="/tourist.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Places Of Interest</p></a></td>
                <td><a href="http://www.socialvillage.in/resources/40545-traditional-arts-crafts-in-tamilnadu"><img src="/art.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Art & Craft</p></a></td>
            </tr>
            <tr>
                <td><a href="https://www.tamilnaduweatherman.in/"><img src="/weather.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Weather</p></a></td>
                <td><a href="https://en.wikipedia.org/wiki/Department_of_Agriculture_(Tamil_Nadu)"><img src="/agriculture.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Aggriculture</p></a></td>
                <td><a href="https://en.wikipedia.org/wiki/Wildlife_of_Tamil_Nadu"><img src="/wildlife.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Wild Life</p></a></td>
                <td><a href="https://en.wikipedia.org/wiki/Tamil_cuisine"><img src="/food.jpg" width="310px" height="190px"><p style="text-align: center;background-color: coral;color: white;">Food</p></a></td>    
            </tr>
            </table>
    </div>
<%- include("partials/footer"); -%>